#wpadminbar > div.quicklinks > ul > li > a {
        white-space: nowrap;
}

#wpadminbar li#wp-admin-bar-cuny-academic-commons > a {
	background: #3FC2F3;
	color: #fff;
	text-shadow: none;
}

#wpadminbar ul li#wp-admin-bar-bp-login, #wpadminbar ul li#wp-admin-bar-bp-register {
	float: right;
	text-align: right;
}

#wp-admin-bar-my-groups-default {
	width: auto;
}

#wpadminbar .quicklinks .menupop.hover ul li .ab-item {
	line-height: 15px;
	white-space: normal;
	min-height: 26px;
	height: auto;
	padding-top: 4px;
}

#wpadminbar .blavatar { 
	display: none; /* Remove the WP icons */
}

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary {
	background: none;
}

#wpadminbar .ab-sub-secondary .menupop.hover div.ab-sub-wrapper,
#wpadminbar .ab-sub-secondary .menupop.hover div.ab-sub-wrapper * {
	z-index: 999999 !important;
}

#wpadminbar .ab-sub-secondary .menupop div.ab-sub-wrapper * {
	position: relative;
}


#wpadminbar .ab-sub-wrapper, #wpadminbar ul, #wpadminbar ul li {
	z-index: auto;
}

ul#wp-admin-bar-my-sites-list {
	width: 100%;
}
	
/* adminbar login form
----------------------------------------------------------------------------------------
- adding some default BP form styles so the form will look accurate across all WP blogs */
li.bp-login {position:relative;}

#wpadminbar ul li#wp-admin-bar-bp-login {
	width: 70px;
}

form#sidebar-login-form {position:absolute; background:url(bg_trans.png) repeat 0 0 !important; width:200px; padding:10px; border-radius:0 8px 8px 8px; -moz-border-radius:0 8px 8px 8px; -webkit-border-radius:0 8px 8px 8px; box-shadow:0px 3px 3px #999; display:none; margin-left: -155px; text-align: left;}
	li.bp-login:hover form {display:block; cursor:default;}

form#sidebar-login-form label, form#sidebar-login-form span.label {display:block; color:#fff; margin:5px 0;}

#wpadminbar form#sidebar-login-form textarea, #wpadminbar form#sidebar-login-form input[type="text"],
#wpadminbar form#sidebar-login-form select, #wpadminbar form#sidebar-login-form input[type="password"],
#wpadminbar form#sidebar-login-form input[type="submit"]
	{border:1px inset #ccc; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; color: #888; text-shadow: none;}

#sidebar-login-form input[type="text"], #sidebar-login-form input[type="password"] {padding:4px; width:95%;}

form#sidebar-login-form input[type="submit"] {padding:3px 10px; text-decoration:none; vertical-align:bottom; border:1px solid #ddd; cursor:pointer; text-shadow: none;}

input#sidebar-rememberme {margin-left:0;}

form#sidebar-login-form p.forgetmenot {float:none;}

form#sidebar-login-form a.lost-pw {padding-right:2px !important; float:right; font-size:.9em !important; background:none !important;}
	#wp-admin-bar li a.lost-pw:hover {text-decoration:underline !important; background:none !important;}

form#sidebar-login-form #sidebar-wp-submit {background:#fff;}

.login-click {background:#000 !important;}