body			{ background: #333; padding: 0; color: #FFAB07;}
div#container	{ background: #333; padding: 0; margin: 0; -moz-border-radius: 0; -khtml-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;}
table#logoarea	{ padding: 10px; }
div.searchbox	{ border: none; height: 30px; }
tr#bodyrow		{ background: #F5F4D7; color: #4D4E51; }
hr				{ background: #0E8D94; color: #0E8D94; }

/* widgets */
div.widget-title h3 { font-size: 1.2em; font-weight: normal; font-family: Molengo, "Trebuchet MS", Corbel, Arial, sans-serif; border-bottom: 1px solid #CCC; }
div.widget ul li { margin: 0; padding: 2px 0 4px 0 ; border-right: solid 5px #ccc; padding-right: 5px; font-size: 0.9em; line-height: 1.2em; }
div.widget ul li:hover { border-right: solid 5px #333; padding-right: 5px; background: #dCdFd5; }

#full-width		{ margin: 20px 10px; padding: 0px; }
div ul.refractions-list li	{ list-style: disc; }
div.header-widget h3 { font-size: 0.9em; }

/* navigation menu */
div#menu2 ul.rMenu						{ padding: 0; background: #CE0A31; border: none; border-bottom: 4px solid #FFAB07; color: #333; font-size: 1.1em; font-weight: bold;}
div#menu2 ul.rMenu li 					{ margin: 0; padding: 0px; border: 0; background:  transparent; padding: 3px; }
div#menu2 ul.rMenu li a					{ border: none!important; color:inherit!important; font-size:inherit!important; font-weight:inherit!important; padding: 5px 10px;}
div#menu2 ul.rMenu li.current-menu-item,
div#menu2 ul.rMenu li.current-menu-item:hover	{ background: #FFAB07; color: #333;}
div#menu2 ul.rMenu li.current-menu-item a:link, 
div#menu2 ul.rMenu li.current-menu-item a:active, 
div#menu2 ul.rMenu li.current-menu-item a:hover, 
div#menu2 ul.rMenu li.current-menu-item a:visited, 
div#menu2 ul.rMenu li a:hover 			{ background: none; color: #4D4E51; }
div#menu2 ul.rMenu li:hover, 
div#menu2 ul.rMenu li.sfhover 			{ background: #0E8D94; color: #fff; }

/* masonry styles */
.box	 		{ background-color: #f2f2e9; }
div.post-footer	{ background-color: #D3DCDA;}

/* events listing pages */
span.event-page-date { padding: 0; margin: 0; text-align: left; font-style: italic; }
span.event-page-name { padding: 0; margin: 0; text-align: left; }
span.event-widget-date { padding: 0; margin: 0; font-style: italic; font-size: 1em; }
span.event-widget-name { padding: 0; margin: 0; font-size: 1.2em; line-height: 1.2em; }
.widget_em_widget { background-color: transparent; }
.widget_em_widget li {background: transparent; border: none!important; padding: 3px 0 3px 0!important; margin: 0!important; border-bottom: 1px dotted #CCC !important; }
.widget_em_widget li:hover { background-color: #dCdFd5; border: 1px 0 1px 0 dotted #999; margin: 0; }