td#footer						{ border: none;}
td#footer p:first-child			{ border-top: solid 1px #CCC; margin: -20px -20px 0 -20px; padding-top: 10px; }
td#footer div.sitewide-footer p { border: none!important; margin: 0!important; padding: 0!important; }

/* home page */
div#post-586 a:first-child { display: none; }
div.welcome { background: #F7F3E8; padding: 7px 7px 13px 13px; margin: 0 1% 20px 0.9%; -moz-box-shadow: inset 0 0 4px #AAA; -webkit-box-shadow: inset 0 0 4px #AAA; box-shadow: inset 0 0 4px #AAA; }

/* widgets */
div.widget-title h3 { font-size: 1.3em; font-weight: normal; font-family: Molengo, "Trebuchet MS", Corbel, Arial, sans-serif; border-bottom: 1px solid #CCC; }
div.widget ul li { margin: 0; padding: 2px 0 4px 0 ; border-right: solid 5px #ccc; padding-right: 5px; font-size: 0.9em; line-height: 1.2em; }
div.widget ul li:hover { border-right: solid 5px #333; padding-right: 5px; background: #dCdFd5; }

#full-width		{ margin: 20px 10px; padding: 0px; }

/* navigation menu */
div#menu1 ul.rMenu { background: transparent; color: #747E80; border: 1px solid #ccc; }
div#menu1 ul.rMenu li a:hover { background: transparent; }
div#menu1 ul.rMenu li:hover { color: #F7F3E8; background-color: #77BED2;}
div#menu1 ul.rMenu li.current-menu-item, div#menu1 ul.rMenu li.current_page_item { background-color: #747E80!important; color: #F7F3E8!important; }
div#menu1 ul.rMenu li.current-menu-item a, div#menu1 ul.rMenu li.current_page_item a { background: transparent!important; color: #F7F3E8!important; }
/*sub menus*/
div#menu1 ul { background-color: #77BED2; }
div#menu1 ul.rMenu ul.sub-menu li 	{ color: #2B3E42;}
div#menu1 ul.rMenu ul.sub-menu li:hover	{ background: #2B3E42; color: #F7F3E8; }
div#menu1 ul.rMenu ul.sub-menu li:hover a { color: #F7F3E8; }
div#menu1 ul.rMenu ul.sub-menu li a 	{ color: #2B3E42;}

/* masonry styles */
.box 		{ background: white; }

/* events listing pages */
div.widget_em_widget { background-color: transparent; }
div.widget_em_widget li {background: transparent; border: none; padding: 3px 0 3px 0; margin: 0; border-bottom: 1px dotted #CCC; text-align: center; }
div.widget_em_widget li:hover { background: #F7F3E8; border: 1px 0 1px 0 dotted #999; margin: 0; }
span.event-page-date { padding: 0; margin: 0; text-align: left; font-style: italic; }
span.event-page-name { padding: 0; margin: 0; text-align: left; }
span.event-widget-date { padding: 0; margin: 0; text-align: center; font-style: italic; font-size: 1em; }
span.event-widget-name { padding: 0; margin: 0; text-align: center; font-size: 1.2em; line-height: 1.2em; }

/* tumblelog */
#tumblelog.fluid		{ background: transparent; padding: 5px 0; margin: 0; border-radius: 5px; clear: both; position: relative; }
#tumblelog.box 			{ float: left; -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.2); -moz-box-shadow: 2px 2px 3px rgba(0,0,0,0.2); box-shadow: 2px 2px 3px rgba(0,0,0,0.2); margin: 0px 1% 20px 0.9%;  padding: 0; }
#tumblelog.post			{ margin: 0px; }
#tumblelog.box.col1		{ width: 48%; }
#tumblelog.box.col2		{ width: 98%; }
#tumblelog.post-headline,
#tumblelog.post-bodycopy 	{ padding: 5px; }
#tumblelog.post-headline h3 { }
span.footer-loc, span.footer-tags, span.footer-cats, span.footer-permalink { display: inline; }
span.footer-tags:before, span.footer-cats:before,span.footer-permalink:before {content:" | "; }
span.footer-cats ul,
span.footer-cats li { margin: 0; padding: 0; display:inline; }
#tumblelog.post-date 		{ font-style: italic; font-size: 1.2em; }
#tumblelog.post-thumbnail	{overflow: hidden; position: relative; width: 100%; height: 150px;}
#tumblelog img 				{position: absolute;}
#tumblelog ul.event-categories li,
#tumblelog ul.event-categories li:hover { display: inline; margin: 0; padding: 0; border: none; list-style:none; }
#tumblelog ul.event-categories li a:before {content:', ';}
#tumblelog ul.event-categories li a:first-child:before {content:'';}